*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}


body{
	background: #e6e6e6;
}

/* MODELO DOS BOTÕES */
.botao{
	background: #ffffff;
	color:#ff8000;
	border: none;
	border-radius: 3px;
	cursor: pointer;	
	width: 80px;
	height: 50px;	
	font-size: 16px;	
	margin: 10px 20px 0 0;
	float: right;
}

.botao:hover{
	background: #e6e6e6;
}

.btTabela{		
	width: 200px;
	height: 80px;
	text-align: center;	
	font-size: 12pt;	
	background: #ff8000;
	color:#ffffff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.area-btTabela{
	width: 200px;
	height: 80px;
	margin: 0px auto;
}

/* TOPO */
#cabecalho {
	width:100%;
	height: 70px;
	position: absolute;
	top:0;
	background: #ff8000;
}

#bemVindo{
	width: 500px;
	height: 50px;
	float:left;
	margin: 10px 0 0 400px;
}

#bemVindo p{
	margin: 10px 0 0 100px;
	font-size: 16pt;
}


.area-formulario{
	background: rgb(255,255,255);
	width: 1000px;
	height: 545px;
	overflow-y: auto;
	margin: 0 auto;	
}

.area-principal{
	width: 100%;	
	margin: 90px auto 10px auto;
	display: table;	
}

/* TABELA USUÁRIO */
#tbUsuario{
	margin: 10px auto 120px auto;	
	height: 200px;
}

#tbUsuario td{	
	width: 200px;
	height: 100px;	
	text-align: center;	
}

#tbUsuario p{
	
}

#tbUsuario td a{
	color: #000;		
}

#tbUsuario td a:hover{
	color: #0047b3;		
}

.transparente{
	background: rgb(204,204,204)
}

span{
	color: #0047b3;
}

